@use '../mixins/breakpoints' as *;

:root {
  // COLOURS
  // primary
  --clr-space-black: 230 35% 7%;
  --clr-white: 0 0% 100%;
  --clr-fog: 231 77% 90%;

  --hsla: 1;

  // COLOUR SCHEME
  // body
  --clr-body-bg: hsl(var(--clr-space-black));
  --clr-body-text: hsl(var(--clr-fog));

  // header
  --clr-header-text: hsl(var(--clr-white));

  --clr-nav-text: hsl(var(--clr-white));
  --clr-nav-underline: hsl(var(--clr-white));
  --clr-nav-underline-hover: hsl(var(--clr-white) / 0.5);
  --clr-nav-number: hsl(var(--clr-white));

  // home page
  --bg-homepage-body: url('../assets/home/background-home-mobile.jpg');
  --clr-homepage-body-text: hsl(var(--clr-fog));
  --clr-homepage-header-text: hsl(var(--clr-white));

  // destination page
  --clr-destination-header-text: hsl(var(--clr-white));
  --clr-destination-header-span-text: hsl(var(--clr-white) / 0.25);
  --clr-destination-tab-text: hsl(var(--clr-fog));
  --clr-destination-active-tab-text: hsl(var(--clr-white));
  --clr-destination-tab-underline-bg: hsl(var(--clr-white));
  --clr-destination-tab-underline-bg-hover: hsl(var(--clr-white) / 0.5);
  --clr-destination-distance-text: hsl(var(--clr-white));
  --clr-destination-time-text: hsl(var(--clr-white));

  // crew page
  --clr-crew-dot-bg: hsl(var(--clr-white) / 0.17);
  --clr-crew-dot-hover-bg: hsl(var(--clr-white) / 0.5);
  --clr-crew-dot-active-bg: hsl(var(--clr-white));
  --clr-crew-title-text: hsl(var(--clr-white) / 0.5);
  --clr-crew-name-text: hsl(var(--clr-white));

  // technology page
  --clr-tech-tabs-text: hsl(var(--clr-white));
  --clr-tech-tabs-text-active: hsl(var(--clr-space-black));
  --clr-tech-tabs-border: hsl(var(--clr-white) / 0.25);
  --clr-tech-tabs-border-hover: hsl(var(--clr-white));
  --clr-tech-tabs-bg-active: hsl(var(--clr-white));

  --clr-tech-title-text: hsl(var(--clr-fog));
  --clr-tech-name-text: hsl(var(--clr-white));

  // FONT SIZES

  --fs-step--1: clamp(0.88rem, calc(0.83rem + 0.19vw), 1rem);
  --fs-step-0: clamp(0.94rem, calc(0.87rem + 0.28vw), 1.13rem);
  --fs-step-1: clamp(1rem, calc(0.74rem + 1.13vw), 1.75rem);
  --fs-step-2: clamp(1rem, calc(0.65rem + 1.5vw), 2rem);
  --fs-step-3: clamp(1.25rem, calc(0.99rem + 1.3vw), 2rem);
  --fs-step-4: clamp(1.5rem, calc(0.8rem + 3vw), 3.5rem);
  --fs-step-5: clamp(3.5rem, calc(2.54rem + 4.78vw), 6.25rem);
  --fs-step-6: clamp(5rem, calc(0.83rem + 17.81vw), 9.38rem);

  // FONT FAMILIES
  --ff-bellefair: 'Bellefair', serif;
  --ff-barlow-condensed: 'Barlow Condensed', sans-serif;
  --ff-barlow: 'Barlow', sans-serif;

  // FONT WEIGHTS
  --fw-regular: 400;
  --fw-bold: 700;

  // LETTER SPACING
  --ls-27: 2.7px;

  @include tablets() {
    --ls-27: 3.38px;
  }

  @include laptops() {
    --ls-27: 4.72px;
  }
}

body {
  // incase, for what ever reason, the bg-image doesn't show up, at the very least the we will have white & white-ish text on a black background rather than on a white one
  background-color: var(--clr-body-bg);
  color: var(--clr-body-text);
  font-family: var(--ff-barlow-condensed);
  font-size: var(--fs-step-0);
}

@mixin body-bg($page) {
  background: url('../assets/#{$page}/background-#{$page}-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;

  @include tablets {
    & {
      background: url('../assets/#{$page}/background-#{$page}-tablet.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center bottom;
    }
  }

  @include laptops {
    & {
      background: url('../assets/#{$page}/background-#{$page}-desktop.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

#root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 1fr;

  & > :first-child {
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-self: end;
  }

  & > :last-child {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}

#root.homepage-bg {
  background: url('../assets/technology/background-technology-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;

  @include tablets {
    & {
      background: url('../assets/technology/background-technology-tablet.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center bottom;
    }
  }

  @include laptops {
    & {
      background: url('../assets/technology/background-technology-desktop.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

// #root.homepage-bg {
//   @include body-bg(home);
// }

#root.destination-bg {
  @include body-bg(destination);
}
#root.destination-bg {
  @include body-bg(destination);
}

#root.crew-bg {
  @include body-bg(crew);
}

#root.technology-bg {
  @include body-bg(technology);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-header-text);
  font-family: var(--ff-bellefair);
}

h1 {
  font-size: var(--fs-step-6);
}

h2 {
  font-size: var(--fs-step-5);
}

p {
  font-family: var(--ff-barlow);
}

li {
  color: var(--clr-nav-text);
}

li > * {
  color: inherit;
}

li a {
  font-size: 1rem;
}
