@use '../mixins/breakpoints' as *;

.secondary-heading {
  margin-block-start: 0;
  margin-inline: auto;
  max-width: 1137px;
  width: max-content;

  @include tablets() {
    margin-inline-start: 38px;
  }

  @include laptops() {
    margin-inline-start: 167px;
  }
}

.crew-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content max-content;
  justify-items: center;
  grid-row-gap: 32px;

  // layout
  @include tablets() {
    // image
    & :first-child {
      grid-column: 1/2;
      grid-row: 3/4;
    }

    // dots
    & div:nth-child(2) {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    // text info
    & :last-child {
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }

  @include laptops() {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 406px;
    justify-items: center;

    margin-inline: auto;

    // image
    & :first-child {
      grid-column: 2/3;
      grid-row: 1/2;
    }

    // dots
    & div:nth-child(2) {
      grid-column: 1/2;
      grid-row: 2/3;
      align-self: start;
      justify-self: start;
    }

    // text info
    & :last-child {
      grid-column: 1/2;
      grid-row: 1/2;
      align-self: center;
      justify-self: start;
    }
  }

  .crew-image {
    display: flex;
    flex-direction: column;

    // padding-inline: 24px;
    // aspect-ratio: 1;

    img {
      // margin-inline: auto;

      // max-width: 100%;
    }

    &::after {
      content: '';
      background-color: hsl(var(--clr-white) / 0.25);
      height: 1px;
      width: 100%;
    }

    @include tablets() {
      display: block;

      &::after {
        display: none;
      }
    }
  }

  .crew-member-list {
    display: flex;
    gap: 16px;

    list-style: none;

    @include laptops() {
      margin-inline-start: 167px;
    }
  }

  .dot {
    aspect-ratio: 1;
    background-color: var(--clr-crew-dot-bg);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 10px;
    transition: all 200ms ease;

    @include laptops() {
      height: 15px;
    }
  }

  .crew-member:not(.active) .dot:hover {
    background-color: var(--clr-crew-dot-hover-bg);
  }

  .crew-member.active .dot {
    background-color: var(--clr-crew-dot-active-bg);
  }

  .crew-member-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include laptops() {
      align-items: start;

      margin-inline-start: 167px;
    }
  }

  .title {
    color: var(--clr-crew-title-text);
    font-size: var(--fs-step-2);
  }

  .title.is-cap {
    text-transform: uppercase;
  }

  .name {
    color: var(--clr-crew-name-text);
    font-family: var(--ff-bellefair);
    font-size: var(--fs-step-4);
    text-transform: uppercase;
  }

  .description {
    margin-block-start: 8px;
    max-width: 36ch;
    text-align: center;

    @include tablets() {
      max-width: 51ch;
    }

    @include laptops() {
      margin-right: auto;
      max-width: 43ch;
      text-align: start;
    }
  }
}
