@use '../mixins/breakpoints' as *;
@use '../mixins/secondary-heading' as *;

.secondary-heading {
  @include secondary-heading();

  margin-block: 24px 32px;
  margin-inline: auto;
  width: max-content;

  @include tablets() {
    margin-block: 40px 60px;
    margin-inline: 38px 0;
  }

  @include laptops() {
    margin-block: 76px 64px;
    margin-block: 0px 31px;
  }
}

.secondary-heading span {
  @include secondary-heading-span();
}

.destination {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  .planet-image {
    width: 170px;
  }

  .planets-list {
    display: flex;
    gap: 26px;

    list-style: none;
    margin-block: 26px 20px;
  }

  .planet {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .planet.active::after {
    content: '';

    background-color: var(--clr-destination-tab-underline-bg);
    height: 3px;
    width: 100%;
  }

  .planet:not(.active)::after {
    content: '';
    height: 3px;
    transition: all 300ms ease;
    width: 0;
  }

  .planet:not(.active):hover::after {
    background-color: var(--clr-destination-tab-underline-bg-hover);
    width: 100%;
  }

  .planet button {
    background: transparent;
    border: none;
    color: var(--clr-destination-tab-text);
    cursor: pointer;
    font-size: var(--fs-step--1);
    letter-spacing: 2.7px;
    text-transform: uppercase;
  }

  .planet.active button {
    color: var(--clr-destination-active-tab-text);
  }

  .planet-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-bottom: 1px solid hsl(var(--clr-white) / 0.25);
    padding-block-end: 32px;
    padding-inline: 24px;
  }

  .chosen-planet {
    text-transform: uppercase;
  }

  .planet-description {
    max-width: 36ch;
    text-align: center;
  }

  .planet-stats {
    display: flex;
    flex-direction: column;
    gap: 32px;

    margin-block-start: 32px;
    margin-block-end: 58px;
  }

  .planet-stats > * {
    display: flex;
    flex-direction: column;
    gap: 12px;

    font-size: 0.875rem;
    letter-spacing: 2.37px;
    text-align: center;
    text-transform: uppercase;
  }

  .planet-stats span {
    font-size: 1.75rem;
  }

  .planet-stats .distance {
    color: var(--clr-destination-distance-text);
  }

  .planet-stats .travel-time {
    color: var(--clr-destination-time-text);
  }

  @include tablets() {
    .planet-image {
      width: 300px;
    }

    .planets-list {
      gap: 35px;

      margin-block: 53px 32px;
    }

    .planet-description {
      max-width: 61ch;
    }

    .planet-stats {
      flex-direction: row;
      gap: 66px;
      justify-content: center;
    }
  }

  @include laptops() {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, max-content);
    align-items: center;

    // new layout
    .planet-image {
      grid-column: 1/2;
      grid-row: 1/-1;
    }

    .planets-list {
      grid-column: 2/3;
      grid-row: 1/2;
    }

    .planet-info {
      grid-column: 2/3;
      grid-row: 2/3;
    }

    .planet-stats {
      grid-column: 2/3;
      grid-row: 3/4;
    }

    // styles
    .planet-image {
      width: 445px;
    }

    .planet-description {
      max-width: 44ch;
    }

    .planet-stats {
      margin-block-end: 0;
    }
  }
}
