@use '../mixins/breakpoints' as *;

// in order to position the navbar on mobile
body {
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-block: 1.5rem;
  padding-inline: 24px;

  // to position the navbar on mobile in-front of the main
  position: relative;

  width: 100%;
  max-width: 1385px;

  .logo {
    flex-shrink: 0;
  }

  .hamburger-menu {
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    gap: 32px;

    position: absolute;

    -webkit-backdrop-filter: blur(40.7742px);

    backdrop-filter: blur(40.7742px);
    background: rgba(255, 255, 255, 0.04);
    list-style: none;
    text-decoration: none;
  }

  .nav-item a {
    display: flex;
    gap: 11px;

    letter-spacing: var(--ls-27);
    text-decoration: none;
    text-transform: uppercase;
  }

  .nav-item span {
    font-weight: var(--fw-bold);
  }

  // TODO: Animate this, perhaps by making the width 0 then to another value
  .hamburger-menu[aria-expanded='false'] ~ .nav-items {
    // visibility: hidden;
    display: none;
    // transition: all 500ms ease;
    // width: 0;
  }

  .hamburger-menu[aria-expanded='true'] ~ .nav-items {
    // visibility: visible;
    display: flex;

    // width: auto;

    right: 0%;
    top: 0%;

    height: 100vh;
    padding-block-start: 118px;
    padding-inline: 32px;
    z-index: -1;
  }

  @include tablets {
    & {
      padding-block-start: 0;
      padding-inline: 0;
      padding-inline-start: 24px;

      .navbar {
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40.7742px);
        padding: 48px 39px;
        padding: 0 39px;
        padding-top: 48px;
      }

      .hamburger-menu {
        display: none;
      }

      .nav-items {
        flex-wrap: wrap;
        flex-direction: row;

        background: transparent;
        backdrop-filter: unset;
        position: static;
      }

      .nav-item {
        display: flex;
        flex-direction: column;

        position: relative;
      }

      .nav-item.active::after {
        content: '';
        background-color: var(--clr-nav-underline);
        height: 3px;
        width: 100%;
      }

      .nav-item:not(.active)::after {
        content: '';
        background-color: var(--clr-nav-underline-hover);
        height: 3px;
        transition: all 300ms ease;
        width: 0%;
      }

      .nav-item:hover:not(.active)::after {
        width: 100%;
      }

      .nav-item a {
        padding-bottom: 48px;
      }

      .nav-item span {
        display: none;
      }

      // extra specificity is required in order to match the above aria-expanded selector
      & .navbar .hamburger-menu ~ .nav-items {
        display: flex;
      }

      // reset the navbar in case user decides to resize the screen while keeping the navbar open
      .hamburger-menu[aria-expanded='true'] ~ .nav-items {
        display: flex;

        background: transparent;
        position: static;
        height: auto;
        padding-block-start: 0;
        padding-inline: 0;
        z-index: auto;
      }
    }
  }

  @include laptops {
    & {
      padding-block: 2rem;
      padding-inline-start: 55px;

      .navbar {
        padding-inline: 123px;
        position: relative;
      }

      .navbar::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0%;

        background-color: hsl(var(--clr-white) / 0.25);
        height: 1px;
        transform: translateX(-90%);
        width: 473px;
        z-index: 10;
      }

      .nav-items {
        gap: 48px;
      }

      .nav-item span {
        display: block;
      }
    }
  }
}
