@use '../mixins/breakpoints' as *;
@use '../mixins/homepage-button' as *;

.homepage {
  --measure: 450px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;

  .text-content {
    text-transform: uppercase;
  }

  .primary-heading {
    color: var(--clr-homepage-header-text);
    text-align: center;
  }

  .primary-heading span {
    color: var(--clr-homepage-body-text);
    display: block;
    font-size: var(--fs-step-1);
    letter-spacing: var(--ls-27);
  }

  .primary-text {
    margin-inline: auto;
    max-width: 40ch;
    text-align: center;
    text-transform: none;
  }

  .homepage-button {
    @include homepage-button();

    position: relative;
  }

  .homepage-button::after {
    content: '';

    background-color: hsl(var(--clr-white) / 0.2);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(0);
    transition: all 300ms ease;
    z-index: -1;
  }
  .homepage-button:hover::after {
    transform: scale(1.5);
  }

  @include tablets {
    & {
      .primary-heading span {
        letter-spacing: 3.38px;
      }

      .primary-text {
        max-width: 50ch;
      }
    }
  }

  @include laptops {
    & {
      flex-direction: row;
      justify-content: space-around;

      .primary-heading span {
        letter-spacing: 4.72px;
      }

      .primary-text {
        max-width: 45ch;
      }
    }
  }
}
