// for any shared styles between the main element for each page
.main {
  min-height: 100vh;

  // to prevent main and its children from covering up the abs positioned navbar on mobile
  position: relative;
  z-index: -10;
}
