// for any shared styles between the main element for each page
.main {
  max-width: 1500px;

  overflow: hidden;

  // to prevent main and its children from covering up the abs positioned navbar on mobile
  position: relative;
  z-index: -10;
}
