@use '../mixins/breakpoints' as *;
@use '../mixins/_secondary-heading.scss' as *;

.technology-page {
  row-gap: 32px;
  justify-items: center;

  @include tablets() {
    row-gap: 44px;
  }

  @include laptops() {
    // undo wrapper styles
    &.wrapper {
      .wrapper > * {
        grid-column: auto;
      }
      .full-bleed {
        width: auto;
        grid-column: auto;
      }
    }

    // change layout
    grid-template-columns: max-content 1fr 1fr;
    grid-template-rows: max-content 1fr;
    justify-items: start;
    align-items: center;
    column-gap: 80px;

    // header
    & > h1:first-child {
      grid-column: 1/2;
      grid-row: 1/2;

      transform: translateX(73%);
    }

    // image
    & > div:nth-child(2) {
      grid-column: 3/4;
      grid-row: 2/3;
    }

    // tabs
    & > ul:nth-child(3) {
      grid-column: 1/2;
      grid-row: 2/3;
      justify-self: end;
    }

    // text-info
    & > div:last-child {
      grid-column: 2/3;
      grid-row: 2/3;
    }
  }

  .secondary-heading-alternative {
    @include secondary-heading;

    span {
      @include secondary-heading-span;
    }
  }

  .tech-image img {
    width: 100%;
  }

  .tech-list {
    display: flex;
    gap: 16px;

    list-style: none;

    @include laptops() {
      flex-direction: column;
    }
  }

  .tech-list-item button {
    aspect-ratio: 1;
    background-color: transparent;
    border: 1px solid var(--clr-tech-tabs-border);
    border-radius: 50%;
    cursor: pointer;
    color: var(--clr-tech-tabs-text);
    font-family: var(--ff-bellefair);
    font-size: var(--fs-step-2);
    transition: all 300ms ease;
    width: 40px;

    @include tablets() {
      width: 60px;
    }

    @include laptops() {
      width: 80px;
    }
  }

  .tech-list-item button:hover {
    border-color: var(--clr-tech-tabs-border-hover);
  }

  .tech-list-item button.active {
    background-color: var(--clr-tech-tabs-bg-active);
    color: var(--clr-tech-tabs-text-active);
  }

  .tech-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-block-end: 24px;
    padding-inline: 24px;

    @include laptops() {
      align-items: start;
    }
  }

  .title {
    color: var(--clr-tech-title-text);
    font-size: var(--fs-step--1);
    letter-spacing: 2.36px;

    @include tablets() {
      letter-spacing: 2.7px;
    }
  }

  .name {
    color: var(--clr-tech-name-text);
    font-size: var(--fs-step-4);
    text-transform: uppercase;
  }

  .description {
    line-height: 25px;
    margin-block-start: 16px;
    max-width: 34ch;
    text-align: center;

    @include tablets() {
      max-width: 49ch;
    }

    @include laptops() {
      text-align: start;
      max-width: 43ch;
    }
  }
}
