*,
*::before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* Allow percentage-based heights in the application */
html,
body {
  height: 100%;
}

/* Typographic tweaks! Add accessible line-height Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
#root {
  min-height: 100%;
}

/* Default: Phones from 0px to 549px */
:root {
  --clr-space-black: 230 35% 7%;
  --clr-white: 0 0% 100%;
  --clr-fog: 231 77% 90%;
  --hsla: 1;
  --clr-body-bg: hsl(var(--clr-space-black));
  --clr-body-text: hsl(var(--clr-fog));
  --clr-header-text: hsl(var(--clr-white));
  --clr-nav-text: hsl(var(--clr-white));
  --clr-nav-underline: hsl(var(--clr-white));
  --clr-nav-underline-hover: hsl(var(--clr-white) / 0.5);
  --clr-nav-number: hsl(var(--clr-white));
  --fs-step--1: clamp(0.88rem, calc(0.83rem + 0.19vw), 1rem);
  --fs-step-0: clamp(0.94rem, calc(0.87rem + 0.28vw), 1.13rem);
  --fs-step-1: clamp(1rem, calc(0.74rem + 1.13vw), 1.75rem);
  --fs-step-2: clamp(1rem, calc(0.65rem + 1.5vw), 2rem);
  --fs-step-3: clamp(1.5rem, calc(0.8rem + 3vw), 3.5rem);
  --fs-step-4: clamp(5rem, calc(0.83rem + 17.81vw), 9.38rem);
  --ff-bellefair: "Bellefair", serif;
  --ff-barlow-condensed: "Barlow Condensed", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
}

body {
  background: url("../assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-color: var(--clr-body-bg);
  color: var(--clr-body-text);
  font-family: var(--ff-barlow-condensed);
  font-size: var(--fs-step-0);
}
@media (min-width: 550px) {
  body {
    background: url("../assets/home/background-home-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
  }
}
@media (min-width: 1100px) {
  body {
    background: url("../assets/home/background-home-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-header-text);
  font-family: var(--ff-bellefair);
}

h1 {
  font-size: var(--fs-step-4);
}

li {
  color: var(--clr-nav-text);
}

li > * {
  color: inherit;
}

li a {
  font-size: 1rem;
}

.center {
  --measure: 1385px;
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
}

.hidden {
  display: none;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

body {
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.5rem;
  padding-inline: 24px;
}
.header .logo {
  flex-shrink: 0;
}
.header .hamburger-menu {
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}
.header .nav-items {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: absolute;
  -webkit-backdrop-filter: blur(40.7742px);
  backdrop-filter: blur(40.7742px);
  background: rgba(255, 255, 255, 0.04);
  list-style: none;
  text-decoration: none;
}
.header .nav-item a {
  display: flex;
  gap: 11px;
  letter-spacing: 2.7px;
  text-decoration: none;
  text-transform: uppercase;
}
.header .nav-item span {
  font-weight: var(--fw-bold);
}
.header .hamburger-menu[aria-expanded=false] ~ .nav-items {
  display: none;
}
.header .hamburger-menu[aria-expanded=true] ~ .nav-items {
  display: flex;
  right: 0%;
  top: 0%;
  height: 100vh;
  padding-block-start: 118px;
  padding-inline: 32px;
  z-index: -1;
}
@media (min-width: 550px) {
  .header {
    padding-block-start: 0;
    padding-inline: 0;
    padding-inline-start: 24px;
  }
  .header .navbar {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    padding: 48px 39px;
    padding: 0 39px;
    padding-top: 48px;
  }
  .header .hamburger-menu {
    display: none;
  }
  .header .nav-items {
    flex-wrap: wrap;
    flex-direction: row;
    background: transparent;
    backdrop-filter: unset;
    position: static;
  }
  .header .nav-item {
    position: relative;
  }
  .header .nav-item.active {
    border-bottom: 3px solid var(--clr-nav-underline);
  }
  .header .nav-item:hover:not(.active) {
    border-bottom: 3px solid var(--clr-nav-underline-hover);
  }
  .header .nav-item a {
    padding-bottom: 48px;
  }
  .header .nav-item span {
    display: none;
  }
  .header .navbar .hamburger-menu ~ .nav-items {
    display: flex;
  }
  .header .hamburger-menu[aria-expanded=true] ~ .nav-items {
    display: flex;
    background: transparent;
    position: static;
    height: auto;
    padding-block-start: 0;
    padding-inline: 0;
    z-index: auto;
  }
}
@media (min-width: 1100px) {
  .header {
    padding-block: 4rem;
    padding-inline-start: 55px;
  }
  .header .navbar {
    padding-inline: 123px;
    position: relative;
  }
  .header .navbar::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    background-color: hsl(var(--clr-white)/0.25);
    height: 1px;
    transform: translateX(-90%);
    width: 473px;
    z-index: 10;
  }
  .header .nav-items {
    gap: 48px;
  }
  .header .nav-item span {
    display: block;
  }
}

/*# sourceMappingURL=styles.css.map */
